:host .register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 1.9rem;

    & form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 40rem;
        gap: 1.5rem;

        & mat-form-field {
            width: 100%;
        }
    }

    & mat-password-strength-info {
      width: 100%;
    }
}

:host ::ng-deep mat-card-content {
  width: 100% !important;
  display: grid !important;
  grid-template-columns: 1fr 1fr !important;
  gap: 0.25rem;
}

:host ::ng-deep div.mat-mdc-text-field-wrapper {
  background-color: white !important;
}
