$archivo: 'Archivo', 'archivo-offline', 'Roboto', sans-serif, arial;
$roboto: 'Roboto', 'offline-roboto', 'Archivo', sans-serif, arial;
$futura: 'futura', 'Archivo', 'archivo-offline', 'Roboto', sans-serif, arial;
$proximanova: 'proximanova', 'Archivo', 'archivo-offline', 'Roboto', sans-serif, arial;

$blue: #0368ff;
$darkblue: #00245a;
$darkblue_transparent: #00245a98;
$blue_two: #5297ff;
$blue_three: #00b4ff;
$blue_four: #1e78ff;
$lightblue: #b9d9ff;
$lightblue_transparent: #7eb6faad;
$gray: #618198;
$lightgray: #edf3f6;
$purple: #7958fc;
$black: #333a4b;
$lightred: #f87e8b;
