$archivo: 'Archivo', 'archivo-offline', 'Roboto', sans-serif, arial;
$roboto: 'Roboto', 'offline-roboto', 'Archivo', sans-serif, arial;
$futura: 'futura', 'Archivo', 'archivo-offline', 'Roboto', sans-serif, arial;
$proximanova: 'proximanova', 'Archivo', 'archivo-offline', 'Roboto', sans-serif, arial;
