<section class="register">
    <h1>Registro</h1>

    <form (submit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Nombre de usuario</mat-label>
        <input type="text" name="username" matInput [formControl]="usernameFormControl" [errorStateMatcher]="matcher"
               placeholder="Ej. Jhon Doe">
        @if (usernameFormControl.hasError('required')) {
          <mat-error>Se <strong>requiere</strong> un nombre de usuario</mat-error>
        }
        @if (usernameFormControl.hasError('usernameExists')) {
          <mat-error>El nombre de usuario ya existe</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" name="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
               placeholder="Ej. correo@ejemplo.com">
        @if (emailFormControl.hasError('email') && !emailFormControl.hasError('required')) {
          <mat-error>Introduce un email válido</mat-error>
        }
        @if (emailFormControl.hasError('required')) {
          <mat-error>Se <strong>requiere</strong> un email</mat-error>
        }
        @if (emailFormControl.hasError('emailExists')) {
          <mat-error>El email ya existe</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Contraseña</mat-label>
        <mat-pass-toggle-visibility #toggle matSuffix></mat-pass-toggle-visibility>
        <input
          matInput
          #password name="password"
          [type]="toggle.type"
          required
          [formControl]="passwordValidator.passwordFormControl"
          placeholder="Contraseña"
        />
        <mat-hint align="end" aria-live="polite">
          {{password.value.length}} / 25
        </mat-hint>
        <mat-error
          *ngIf="passwordValidator.passwordFormControl.hasError('required')"
        >
          Se <strong>requiere</strong> una contraseña
        </mat-error>
        <mat-error
          *ngIf="passwordValidator.passwordFormControl.hasError('pattern')"
        >
          Contraseña no válida
        </mat-error>
      </mat-form-field>
      <mat-password-strength style="width: 100%"
        #passwordValidator
        class="green"
        (onStrengthChanged)="onStrengthChanged($event)"
        [password]="password.value"
      >
      </mat-password-strength>
      <!--Password's strength info-->
      <mat-password-strength-info *ngIf="!safePassword"
        [passwordComponent]="passwordValidator"
        lowerCaseCriteriaMsg="contiene al menos una minúscula"
        upperCaseCriteriaMsg="contiene al menos una mayúscula"
        digitsCriteriaMsg="contiene al menos un dígito"
        specialCharsCriteriaMsg="contiene al menos un carácter especial"
        minCharsCriteriaMsg="debe tener al menos 8 caracteres"
      >
      </mat-password-strength-info>

        <mat-form-field appearance="outline">
            <mat-label>Confirmar contraseña</mat-label>
            <input matInput type="password" placeholder="Confirm Password" [formControl]="confirmPasswordFormControl" name="confirmPassword">
            @if (confirmPasswordFormControl.hasError('matchPassword') && !confirmPasswordFormControl.hasError('required')) {
              <mat-error>Las contraseñas no coinciden</mat-error>
            }
            @if (confirmPasswordFormControl.hasError('required')) {
              <mat-error>Se <strong>requiere</strong> confirmar contraseña</mat-error>
            }
        </mat-form-field>

        <button mat-raised-button color="primary">Continuar con el registro</button>
    </form>
</section>
